[submodule "models/trento"]
	path = models/trento
	url = https://github.com/Duke-QCD/trento.git
[submodule "models/freestream"]
	path = models/freestream
	url = https://github.com/Duke-QCD/freestream.git
[submodule "models/osu-hydro"]
	path = models/osu-hydro
	url = https://github.com/jbernhard/osu-hydro.git
[submodule "models/frzout"]
	path = models/frzout
	url = https://github.com/Duke-QCD/frzout.git
[submodule "models/urqmd-afterburner"]
	path = models/urqmd-afterburner
	url = https://github.com/jbernhard/urqmd-afterburner.git
